In [1]:
import pandas as pd

# Define the file path
file_path = r"C:\Users\gampa\OneDrive\Desktop\SNEHITH\Plasmid\Major\OnlineRetail.xlsx"

# Load the dataset
df = pd.read_excel(file_path, engine="openpyxl")

# Display first few rows
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [2]:
# Drop rows with missing values
df.dropna(inplace=True)

# Convert Invoice Date to datetime (if applicable)
if 'InvoiceDate' in df.columns:
    df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

# Remove duplicates (if any)
df.drop_duplicates(inplace=True)

# Display cleaned data
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
# Ensure all column names are strings
pivot_table.columns = pivot_table.columns.astype(str)

# Normalize data
scaler = StandardScaler()
scaled_data = scaler.fit_transform(pivot_table)

# Compute similarity matrix
similarity_matrix = cosine_similarity(scaled_data)

# Convert to DataFrame for easy lookup
customer_similarity_df = pd.DataFrame(similarity_matrix, index=pivot_table.index, columns=pivot_table.index)

# Display a sample of the similarity matrix
customer_similarity_df.head()

CustomerID,12346.0,12347.0,12348.0,12349.0,12350.0,12352.0,12353.0,12354.0,12355.0,12356.0,...,18273.0,18274.0,18276.0,18277.0,18278.0,18280.0,18281.0,18282.0,18283.0,18287.0
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,1.000000,-0.059889,-0.011190,-0.021765,0.074206,0.036540,0.354678,0.009586,0.144288,-0.073125,...,0.108213,1.000000,0.186063,0.400975,0.570320,0.283548,0.494923,0.206818,0.072812,-0.047188
12347.0,-0.059889,1.000000,0.017536,-0.003981,0.032366,-0.014267,-0.024074,-0.012115,0.096497,-0.000704,...,-0.007509,-0.059889,0.015768,-0.028777,-0.038746,-0.018735,-0.035907,-0.014674,-0.015283,0.000052
12348.0,-0.011190,0.017536,1.000000,-0.009564,-0.003249,-0.008466,-0.006079,-0.004429,0.093286,0.010230,...,-0.001977,-0.011190,0.027311,-0.007889,-0.009954,-0.006262,-0.010206,-0.004650,0.008962,0.005352
12349.0,-0.021765,-0.003981,-0.009564,1.000000,-0.002315,0.070284,-0.012560,-0.015440,-0.013493,0.195433,...,-0.004113,-0.021765,-0.014405,-0.016750,-0.009994,-0.013259,-0.021481,-0.007801,0.010274,0.000035
12350.0,0.074206,0.032366,-0.003249,-0.002315,1.000000,-0.002634,0.024789,-0.005896,0.007371,-0.005136,...,0.007474,0.074206,0.010534,0.027287,0.039731,0.018801,0.033341,0.013653,-0.000857,-0.008198

In [7]:
def recommend_customers(customer_id, similarity_df, top_n=5):
    """
    Recommend similar customers based on the similarity matrix.

    Parameters:
    customer_id (int/str): The ID of the customer for whom recommendations are needed.
    similarity_df (pd.DataFrame): DataFrame containing customer similarity scores.
    top_n (int): Number of similar customers to recommend.

    Returns:
    list: List of recommended customer IDs.
    """
    if customer_id not in similarity_df.index:
        raise ValueError("Customer ID not found in the dataset.")
    
    # Get similarity scores for the given customer
    similar_customers = similarity_df.loc[customer_id].sort_values(ascending=False)[1:top_n+1]

    return similar_customers.index.tolist()

In [10]:
def recommend_customers(customer_id, similarity_df, top_n=5):
    """
    Recommend similar customers based on the similarity matrix.
    """
    customer_id = str(customer_id)  # Convert to string for consistency
    
    if customer_id not in similarity_df.index:
        print("Customer ID not found in the dataset.")
        return []
    
    similar_customers = similarity_df.loc[customer_id].sort_values(ascending=False).iloc[1:top_n+1].index
    return similar_customers.tolist()

# Convert customer IDs to string to avoid KeyError
pivot_table.index = pivot_table.index.astype(str)
customer_similarity_df.index = customer_similarity_df.index.astype(str)
customer_similarity_df.columns = customer_similarity_df.columns.astype(str)

# Example Usage
customer_id = str(pivot_table.index[0])
recommended_customers = recommend_customers(customer_id, customer_similarity_df)
print(f"Recommended customers for {customer_id}: {recommended_customers}")

Recommended customers for 12346.0: ['12454.0', '12607.0', '18268.0', '12558.0', '13364.0']

In [15]:
def recommend_products(customer_id, pivot_table, similarity_df, top_n=5):
    if customer_id not in similarity_df.index:
        return "Customer ID not found"

    # Find similar customers
    similar_customers = similarity_df.loc[customer_id].sort_values(ascending=False)[1:top_n+1].index
    
    # Find products bought by similar customers
    similar_purchases = pivot_table.loc[similar_customers].mean()
    
    # Sort and select top recommendations
    recommended_products = similar_purchases.sort_values(ascending=False).index[:top_n]

    # Map product IDs to product names
    product_mapping = df.set_index("StockCode")["Description"].to_dict()
    recommended_product_names = [product_mapping.get(pid, "Unknown Product") for pid in recommended_products]
    
    return recommended_product_names

# Example Usage
customer_id = 12353
recommended_products = recommend_products(customer_id, pivot_table, customer_similarity_df)
print(f"Recommended products for Customer {customer_id}: {recommended_products}")

Recommended products for Customer 12353: Customer ID not found

In [21]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity

# Load dataset
file_path = "C:/Users/gampa/OneDrive/Desktop/SNEHITH/Plasmid/Major/OnlineRetail.xlsx"
df = pd.read_excel(file_path)

# Drop missing values (to avoid errors)
df = df.dropna(subset=["CustomerID", "StockCode", "Quantity"])

# Convert CustomerID to integer (if it's not already)
df["CustomerID"] = df["CustomerID"].astype(int)
df["StockCode"] = df["StockCode"].astype(str)

# Create a pivot table (Customers vs. Products)
pivot_table = df.pivot_table(index="CustomerID", columns="StockCode", values="Quantity", aggfunc="sum").fillna(0)

# Standardize the data
scaler = StandardScaler()
scaled_data = scaler.fit_transform(pivot_table)

# Compute similarity matrix
customer_similarity = cosine_similarity(scaled_data)
customer_similarity_df = pd.DataFrame(customer_similarity, index=pivot_table.index, columns=pivot_table.index)

# Recommendation function
def recommend_products(customer_id, df, pivot_table, similarity_df, top_n=5):
    """
    Given a CustomerID, recommends the top_n most frequently bought products by similar customers.
    Returns product details (StockCode, Description, Price, Country).
    """
    if customer_id not in similarity_df.index:
        return f"CustomerID {customer_id} not found in data."

    # Find similar customers
    similar_customers = similarity_df[customer_id].sort_values(ascending=False)[1:top_n+1].index

    # Get products purchased by similar customers
    similar_customers_products = df[df["CustomerID"].isin(similar_customers)]["StockCode"].value_counts().index[:top_n]

    # Retrieve product details
    recommended_details = df[df["StockCode"].isin(similar_customers_products)][["StockCode", "Description", "UnitPrice", "Country"]].drop_duplicates()

    return recommended_details

# Example Usage
customer_id = 17850  # Replace with an actual CustomerID from your dataset
recommended_details = recommend_products(customer_id, df, pivot_table, customer_similarity_df)

print(f"Recommended products for CustomerID {customer_id}:")
print(recommended_details)

Recommended products for CustomerID 17850:
       StockCode                     Description  UnitPrice         Country
21         22960        JAM MAKING SET WITH JARS       4.25  United Kingdom
212        22960        JAM MAKING SET WITH JARS       3.75  United Kingdom
294        22803         IVORY EMBROIDERED QUILT      35.75  United Kingdom
1213       21519  GIN & TONIC DIET GREETING CARD       0.42  United Kingdom
9375       22960        JAM MAKING SET WITH JARS       3.75         Germany
...          ...                             ...        ...             ...
438950     85053      FRENCH ENAMEL CANDLEHOLDER       2.10          Poland
444806     23168    CLASSIC CAFE SUGAR DISPENSER       1.25     Switzerland
462857     85053      FRENCH ENAMEL CANDLEHOLDER       2.10         Austria
485563     85053      FRENCH ENAMEL CANDLEHOLDER       2.10           Italy
514304     23168    CLASSIC CAFE SUGAR DISPENSER       1.25          Norway

[81 rows x 4 columns]

In [22]:
# Get a list of unique Customer IDs
unique_customers = df["CustomerID"].unique()
print(unique_customers[:10])  # Display first 10 customer IDs

[17850 13047 12583 13748 15100 15291 14688 17809 15311 14527]

In [23]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity

# Load dataset
file_path = "C:/Users/gampa/OneDrive/Desktop/SNEHITH/Plasmid/Major/OnlineRetail.xlsx"
df = pd.read_excel(file_path)

# Drop missing values (to avoid errors)
df = df.dropna(subset=["CustomerID", "StockCode", "Quantity"])

# Convert CustomerID to integer (if it's not already)
df["CustomerID"] = df["CustomerID"].astype(int)
df["StockCode"] = df["StockCode"].astype(str)

# Create a pivot table (Customers vs. Products)
pivot_table = df.pivot_table(index="CustomerID", columns="StockCode", values="Quantity", aggfunc="sum").fillna(0)

# Standardize the data
scaler = StandardScaler()
scaled_data = scaler.fit_transform(pivot_table)

# Compute similarity matrix
customer_similarity = cosine_similarity(scaled_data)
customer_similarity_df = pd.DataFrame(customer_similarity, index=pivot_table.index, columns=pivot_table.index)

# Recommendation function
def recommend_products(customer_id, df, pivot_table, similarity_df, top_n=5):
    """
    Given a CustomerID, recommends the top_n most frequently bought products by similar customers.
    Returns product details (StockCode, Description, Price, Country).
    """
    if customer_id not in similarity_df.index:
        return f"CustomerID {customer_id} not found in data."

    # Find similar customers
    similar_customers = similarity_df[customer_id].sort_values(ascending=False)[1:top_n+1].index

    # Get products purchased by similar customers
    similar_customers_products = df[df["CustomerID"].isin(similar_customers)]["StockCode"].value_counts().index[:top_n]

    # Retrieve product details
    recommended_details = df[df["StockCode"].isin(similar_customers_products)][["StockCode", "Description", "UnitPrice", "Country"]].drop_duplicates()

    return recommended_details

# Example Usage
customer_id = 13748  # Replace with an actual CustomerID from your dataset
recommended_details = recommend_products(customer_id, df, pivot_table, customer_similarity_df)

print(f"Recommended products for CustomerID {customer_id}:")
print(recommended_details)

Recommended products for CustomerID 13748:
       StockCode                 Description  UnitPrice         Country
340        48129             DOORMAT TOPIARY       7.95  United Kingdom
455        48194              DOORMAT HEARTS       7.95  United Kingdom
883        21621  VINTAGE UNION JACK BUNTING       8.50  United Kingdom
2113       48129             DOORMAT TOPIARY       6.75  United Kingdom
4357       22084      PAPER CHAIN KIT EMPIRE       2.95  United Kingdom
...          ...                         ...        ...             ...
479902     47566               PARTY BUNTING       4.95          Cyprus
485509     48194              DOORMAT HEARTS       8.25           Italy
485618     48129             DOORMAT TOPIARY       8.25            EIRE
527627     21621  VINTAGE UNION JACK BUNTING      16.63  United Kingdom
533643     48129             DOORMAT TOPIARY       7.08            EIRE

[94 rows x 4 columns]